.App {
  width: 100% !important;
  height: 100vh;
  margin: 0 !important;
}

.imgHome {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

body {
  margin: 0 !important;
}

.mainImg {
  height: 37rem;
  position: fixed;
  z-index: 10000 !important;
  margin: 6rem;
  border-radius: 10px;
}

.textClass {
  position: fixed;
  z-index: 10000;
  display: flex;
  text-align: center;
  justify-content: center;
  color: aliceblue;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gld {
  color: gold;
}

.bdayText {
  margin: 15rem 24rem;
  width: 39rem;
  font-family: fantasy;
  font-size: xxx-large;
}

.btnhandle {
  position: fixed;
  z-index: 10000;
  margin: 29rem 28rem;
  width: 35rem;
  font-size: 1.3rem;
  border: 0px;
  background-color: transparent;
  color: aliceblue;
  box-shadow: 0px 0px 15px 7px #807f00;
}

.smallText {
  position: fixed;
  z-index: 10000;
}

.btm {
  margin: 25px 0px;
}

.textDiv {
  position: fixed;
  z-index: 10000;
  margin: 6rem 28rem;
  padding: 2rem;
  ;
  /* height: 24rem; */
  width: 45rem;
  font-size: 1.3rem;
  border-radius: 11px;
  font-weight: 500;
  border: 0px;
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 7px #00bcd475;
}

p {
  font-size: smaller;
}

.lastbtn {
  position: fixed;
  z-index: 10000;
  margin: 38rem 28rem;
  padding: 2rem;
  ;
  /* height: 24rem; */
  width: 36rem;
  font-size: 1.3rem;
  border-radius: 11px;
  border: 0px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 15px 7px #00bcd475; */
}

.lastbtttn {
  font-size: 1.5rem;
  font-style: italic;
  border-radius: 1rem;
  border: 0px;
  box-shadow: 1px 2px 20px 2px black;
}